<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjj.mapper.SysUserMapper">
    <resultMap type="SysUser" id="SysUserResult">
        <id property="userId" column="user_id"/>
        <result property="userName" column="user_name"/>
        <result property="phone" column="phone"/>
        <result property="isAuth" column="is_auth"/>
        <result property="bindWeChat" column="bindwechat"/>
        <result property="sex" column="sex"/>
        <result property="avatar" column="avatar"/>
        <result property="nickName" column="nickName"/>
        <result property="status" column="status"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <resultMap type="SysUserAuth" id="SysUserAuthResult">
        <result property="idCardNo" column="idCardNo"/>
        <result property="idCardType" column="idCardType"/>
        <result property="idCardTypeView" column="idCardTypeView"/>
        <result property="userId" column="user_id"/>
        <result property="userName" column="user_name"/>
        <result property="isDelete" column="is_delete"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <select id="selectUserByUserName" parameterType="String" resultMap="SysUserResult">
        SELECT
        u.user_id,
        u.user_name,
        u.phone,
        u.is_auth,
        u.bindwechat,
        u.sex,
        u.avatar,
        u.nickName,
        u.status,
        u.create_time,
        u.update_time
        FROM sys_user u
        WHERE u.user_name = #{userName}
    </select>

    <select id="selectUserByPhone" parameterType="String" resultMap="SysUserResult">
        SELECT
        u.user_id,
        u.user_name,
        u.phone,
        u.is_auth,
        u.bindwechat,
        u.sex,
        u.avatar,
        u.nickName,
        u.status,
        u.create_time,
        u.update_time
        FROM sys_user u
        WHERE u.phone = #{phone}
    </select>

    <insert id="insertUser" parameterType="SysUser" useGeneratedKeys="true" keyProperty="userId">
        insert into sys_user(
        <if test="userId != null and userId != 0">user_id,</if>
        <if test="userName != null and userName != ''">user_name,</if>
        <if test="phone != null and phone != ''">phone,</if>
        <if test="isAuth != null and isAuth != ''">is_auth,</if>
        <if test="bindWeChat != null and bindWeChat != ''">bindwechat,</if>
        <if test="sex != null and sex != ''">sex,</if>
        <if test="avatar != null and avatar != ''">avatar,</if>
        <if test="nickName != null and nickName != ''">nickName,</if>
        <if test="status != null and status != ''">status,</if>
        <if test="updateTime != null and updateTime != ''">update_time,</if>
        create_time
        )values(
        <if test="userId != null and userId != ''">#{userId},</if>
        <if test="userName != null and userName != ''">#{userName},</if>
        <if test="phone != null and phone != ''">#{phone},</if>
        <if test="isAuth != null and isAuth != ''">#{isAuth},</if>
        <if test="bindWeChat != null and bindWeChat != ''">#{bindWeChat},</if>
        <if test="sex != null and sex != ''">#{sex},</if>
        <if test="avatar != null and avatar != ''">#{avatar},</if>
        <if test="nickName != null and nickName != ''">#{nickName},</if>
        <if test="status != null and status != ''">#{status},</if>
        <if test="updateTime != null and updateTime != ''">#{updateTime},</if>
        sysdate()
        )
    </insert>

    <update id="updateUser" parameterType="SysUser">
        update sys_user
        <set>
            <if test="userName != null and userName != ''">user_name = #{userName},</if>
            <if test="phone != null and phone != ''">phone = #{phone},</if>
            <if test="isAuth != null and isAuth != ''">is_auth = #{isAuth},</if>
            <if test="bindWeChat != null and bindWeChat != ''">bindwechat = #{bindWeChat},</if>
            <if test="sex != null and sex != ''">sex = #{sex},</if>
            <if test="avatar != null and avatar != ''">avatar = #{avatar},</if>
            <if test="nickName != null and nickName != ''">nickName = #{nickName},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            update_time = sysdate()
        </set>
        where user_id = #{userId}
    </update>

    <select id="getUserAuth" parameterType="Long" resultMap="SysUserAuthResult">
        select
        idCardNo,
        idCardType,
        idCardTypeView,
        user_name
        from sys_user_auth
        <where>
            <if test="userId != null and userId != ''">
                user_id = ${userId}
            </if>
        </where>
    </select>

    <insert id="insertUserAuth" parameterType="com.zjj.dto.SysUserAuth">
        insert into sys_user_auth
        <trim prefix="(" suffix=")" suffixOverrides=",">
            idCardNo,
            idCardType,
            idCardTypeView,
            user_id,
            user_name,
            create_time
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{idCardNo},
            #{idCardType},
            #{idCardTypeView},
            #{userId},
            #{userName},
            sysdate()
        </trim>
    </insert>

    <update id="updateUserAuth">
        update sys_user
        set
        is_auth = '1',
        user_name = #{username},
        update_time = sysdate()
        where user_id = #{userId}
    </update>
</mapper>
